nav {
  background: #f0f0f0;
  border-right: none;
  width: 100%;
  margin-bottom: 20px;
    background-color: #111;
    background-image: linear-gradient(#444,#111);
    border-radius: 50px;
    box-shadow: 0 2px 1px #9c9c9c;
    align-self: center;
    margin-left: 15%;
    margin-right: 15%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  text-align: center;

}

nav ul li:first-child {
  border-left: none;
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #f0f0f0;
  padding: 10px 0;
}

nav {
  display: table;
  table-layout: fixed;
}

ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul li {
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.x {
  display: none;
}

.p {
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
}

.d {
  color: #ccc;
}

@media (max-width: 580px) {

  ul {
    display: block;
  }

  nav {
    font-size: .8em;
  }

  nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
